:root {
    /* ========== Main theme clolrs ============*/
    --first-color: #0e2431;
    --second-color: #6a59d1;
    --third-color: #777;

    /* ========== Hovers clolrs ============*/
    --hover-color: #614fd0;

    /* ========== Background clolrs ============*/
    --body-bg-color: #fefefe;
    --card-bg-color: #fff;
    --modal-bg-color: #fff;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);
    --transparent-color-02: rgba(0, 0, 0, 0.1);
    --transparent-color-02: rgba(106, 89, 209, 0.1);
    --line-color: #d7d7d7;

    /* ========== Color filter ============*/
    --color-filter: invert(1);

    /* ========== Box shadow ============*/
    --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

    /* ========== Font size ============*/
    --small-font-size: 0.9em;
    --normal-font-size: 1em;

    /* ========== Scroll bar colors ============*/
    --scroll-bar-color: #c5cadf;
    --scroll-thumb-color: #70768a;
    --scroll-thumb-hover-color: #454f6b;

}

.btn {
    background: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
}

.btn:hover {
    background: var(--hover-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--first-color);
    background: var(--body-bg-color);
    margin: 2rem 0 0 0;
    transition: .5s ease;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    text-align: left;
}

h3 {
    text-align: left;
}

h4 {
    text-align: left;
}


/* =======Scrolll bar====== */
::-webkit-scrollbar {
    width: 10px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-color);
}

/*=====Common styles for all sections======*/
.flex-center {
    display: flex;
    justify-content: center;
}

.section {
    position: relative;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
}

.sub-section {
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
}

.section-title-01 {
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, var(--first-color) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;

}

.section-title-02 {
    font-size: 2.5em;
    font-weight: 700;
    transform: translateY(-80px);
}

.section-title-02:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 0;
    bottom: 0;
    background: var(--second-color);
}

.container {
    position: relative;
    flex-direction: column;
}